@page
@model AdminPersonal.Pages.Rol.CrearModel
@{
    ViewData["Title"] = "Crear Rol";
}

<h2>Nuevo Rol</h2>

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">@ViewData["Error"]</div>
}

<br />

<form method="post">
    <div class="mb-3">
        <label>Nombre del rol</label>
        <input type="text" name="Rol.nombre_rol" class="form-control" maxlength="40" value="@Model.Rol.nombre_rol" required />
    </div>

    <br />
    <a asp-page="Index" class="btn btn-secondary">Volver</a>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>