@page
@model AdminPersonal.Pages.Rol.CrearModel
@{
    ViewData["Title"] = "Crear Rol";
}

<h2>Nuevo Rol</h2>

<br />

<form method="post">
    <div class="mb-3">
        <label>Nombre del rol</label>

        <input type="text"
               name="Rol.nombre_rol"
               class="form-control"
               maxlength="40"
               value="@Model.Rol.nombre_rol"
               required />
    </div>

    <br />

    <a asp-page="Index"
       class="btn btn-secondary">
        Volver
    </a>

    <button type="submit"
            class="btn btn-primary">
        Guardar
    </button>
</form>

@if (ViewData["Error"] != null)
{
    <div class="modal fade" id="errorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>

                <div class="modal-body">
                    @ViewData["Error"]
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal">
                        Aceptar
                    </button>
                </div>

            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new bootstrap.Modal(
                document.getElementById('errorModal')
            ).show();
        });
    </script>
}